{% extends 'base.html.twig' %}

{% block title %}Modification du compte{% endblock %}

{% block body %}
    <br><br>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom) }}

        <br>
        
        {{ form_row(registrationForm.prenom) }}

        <br>

        <button type="submit" class="btn"> Valider les modifications </button>
    {{ form_end(registrationForm) }}
{% endblock %}